<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Helm Protech</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugins/bootstrap-4.3.1/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugins/slick-1.8.1/slick.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugins/meanmenu/meanmenu.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fonts/ep-icon-fonts/css/ep-font.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fonts/fontawesome-5/css/all.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/settings.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/component.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/demo.css') }}"
    />
    <style>
      @media only screen and (max-width: 600px) {
        #loginHamburger {
          visibility: show;
        }
        #registerHamburger {
          visibility: show;
        }
      }
      @media only screen and (min-width: 600px) {
        #loginHamburger {
          display: none;
        }
        #registerHamburger {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div class="landing-wrapper">
      <header class="site-header">
        <div class="container">
          <div
            class="row justify-content-center align-items-center position-relative">
            <div class="col-sm-4 col-6 col-lg-2 col-xl-2 order-lg-1">
              <div class="brand">
                <a href="/"
                  ><img
                    src="{{ url_for('static', filename='image/helm-logo.png') }}"
                    alt=""
                /></a>
              </div>
            </div>
            <div
              class="col-sm-7 col-lg-3 col-xl-3 offset-xl-1 d-none d-sm-block order-lg-3"
            >
            </div>
            <div
              class="col-sm-1 col-6 col-lg-7 col-xl-6 position-static order-lg-2"
            >
              <div class="main-navigation">
                <ul class="main-menu">
                  <li class="menu-item">
                    <a href="/" style="color: #f9812a;">Home</a>
                  </li>
                  <li class="menu-item"><a href="/upload">Upload</a></li>
                  <li class="menu-item">
                    <a href="/results">Results</a>
                  </li>
                </ul>
              </div>
              <div class="mobile-menu"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="hero-area pt-4 pt-lg-5">
        <div class="float-shapes"></div>
        <div class="container">
          <div class="row justify-content-center justify-content-lg-start">
            <div class="col-md-8 col-lg-7 offset-lg-2">
              <h1 class="main-title">
                <img
                  src="{{ url_for('static', filename='image/helm-logo-main-title.png') }}"
                  alt=""
                />
              </h1>
            </div>
            <div class="col-md-8 col-lg-6 offset-lg-2">
              <div class="hero-content-wrapper">
                <div class="main-content">
                  <p>
                    Helm Protech is a web application geared towards providing safety on the roads.
                    Our comprehensive software helps prevent helmet-less riders.
                    Furthermore, enhancing the safety of another day out on the road.
                  </p>
                </div>
                <!-- <div class="compatible">
                                <span>Compitable with:</span>
                                <ul class="compatible-list">
                                    <li class="list-item"><img src="image/compatible-1.png" alt=""></li>
                                    <li class="list-item"><img src="image/compatible-2.png" alt=""></li>
                                    <li class="list-item"><img src="image/compatible-3.png" alt=""></li>
                                </ul>
                            </div> -->
              </div>
            </div>
            <div class="col-lg-4 pt-lg-5">
              <div class="hero-btn">
                <a
                  href="/upload"
                  class="btn btn--primary btn-height-60"
                  style="letter-spacing: 0.5px;background-color: #f9812a;"
                  >Try it out!</a
                >
              </div>
            </div>
            <div class="col-lg-12">
              <div class="hero-img">
                <img
                  src="{{ url_for('static', filename='image/laptop-image.png') }}"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="content-section-01">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-8">
              <div class="content-image">
                <img
                  style="margin-top: 100px;"
                  src="{{ url_for('static', filename='image/content-image-1.png') }}"
                  alt=""
                />
              </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
              <div class="content-right-content">
                <h2>Why Helm Protech?</h2>
                <p>
                  We use comprehensive machine learning algorithms to analyze all aspects of a driver.
                  We hold all drivers accountable as safety on the road is not a joke.
                  We have a 100% driver safety rate since launching our application.
                  We test out all of our software extensively prior to publishing to market.
                  We have made road safety easy than ever before!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="content-section-02">
        <div class="container">
          <div class="row">
            <div
              class="col-xl-6 col-sm-10 col-md-6 col-10 order-md-2 offset-xl-1 d-none d-md-block"
            >
              <div class="content-image">
                <img
                  src="{{ url_for('static', filename='image/content-image-2.png') }}"
                  alt=""
                />
              </div>
            </div>
            <div class="col-xl-5 col-sm-12 col-md-6 order-md-1">
              <div class="content-text content-left-content">
                <h2>Completely Free for Everyone</h2>
                <div class="content-small-card">
                  <div class="card-icon">
                    <i class="icon icon-users-mm-2"></i>
                  </div>
                  <div class="card-content">
                    <h5 style="color: black;">Built for everyone</h5>
                    <p style="font-size: 16px;">
                      Helm Protech is free for all users!
                    </p>
                  </div>
                </div>
                <div class="content-small-card" style="margin-top: 10px;">
                  <div class="card-icon">
                    <i class="icon icon-settings"></i>
                  </div>
                  <div class="card-content">
                    <h5 style="color: black;">Easy setup process</h5>
                    <p style="font-size: 16px;">
                      Usage is as easy as uploading images!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="content-section-03">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-sm-6 col-md-6 col-10 d-none d-md-block">
              <div class="content-img">
                <img
                  src="{{ url_for('static', filename='image/content-image-3.png') }}"
                  alt=""
                />
              </div>
            </div>
            <div class="col-xl-6 col-md-6 offset-xl-1 col-sm-12">
              <div class="content-right-content">
                <h2>Easy to use.</h2>
                <p>
                  Through a clean and easy to navigate user interface,
                  Helm Protech makes the process as easy as navigating a web page 
                </p>
                <ul class="content-list">
                  <li>
                    <span><i class="icon icon-check-2"></i></span>Upload a
                    picture
                  </li>
                  <li>
                    <span><i class="icon icon-check-2"></i></span>See instant results
                  </li>
                  <li>
                    <span><i class="icon icon-check-2"></i></span>Repeat
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-section">
        <div class="container">
          <div class="copyright">
            <p>©2020 HelmProtech. All rights reserved.</p>
          </div>
        </div>
      </section>
    </div>
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bootstrap-4.3.1/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/slick-1.8.1/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/meanmenu/jquery.meanmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/active.js') }}"></script>
  </body>
</html>
